@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	font-family: 'JetBrains Mono', monospace !important;
}

.cursor * {
	cursor: url('/cursor.png'), auto !important;
}
.brush * {
	cursor: url('/brush.png'), auto !important;
}
.eraser * {
	cursor: url('/eraser.png'), auto !important;
}
.select * {
	cursor: url('/cursor.png'), auto !important;
}
.pointer {
	cursor: url('/pointer.png'), auto !important;
}
.cursor-this {
	cursor: url('/cursor.png'), auto !important;
}
.cursor-not-allowed {
	cursor: url('/cursor-not-allowed.png'), auto !important;
}
.eyedropper * {
	cursor: url('/pipette.png'), auto !important;
}
.sketch * {
	cursor: url('/pen.png'), auto !important;
}
